<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<!-- Carousel Start -->
<div class="container-fluid p-0 pb-5 mb-5" >
    <div id="header-carousel" class="carousel slide carousel-fade " data-ride="carousel">
        <div class="carousel-inner ">
            <div style="min-height: 300px;">
                <video style="min-height: 300px; object-fit: cover;" class="position-relative w-100" autoplay muted loop>
                    <source src="video/Video.mp4" type="video/mp4">
                </video>
                <div class="carousel-caption d-flex align-items-center er">
                    <div class="container py-5">
                        <div class="row align-items-center">
                            <div class=" p-5" style="width: 100%; max-width: 900px;">
                                <h5 class="text-white text-uppercase mb-md-3">Các khoá học tốt nhất</h5>
                                <h1 class="display-3 text-white mb-md-4">Cùng EVinh tiến tới thành công</h1>
                                <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Khoá học</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->

<!-- Box Info Start -->
<section class="features-icons bg-light text-center" style="margin-top:-50px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4  ">
                <div class="shadow rounded features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3" style="background-color:#EBEAEA;">
                    <h1 class="text-primary">80+</h1>
                    <p class="text-black lead mb-0">Học viên</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="shadow rounded features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3" style="background-color:#EBEAEA;">
                    <h1 class="text-primary">6+</h1>
                    <p class="text-black lead mb-0">Khoá học</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="shadow rounded features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3" style="background-color:#EBEAEA;">
                    <h1 class="text-primary">10000+</h1>
                    <p class="text-black lead mb-0">Follow facebook</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Box Info End -->

<!-- Info Start -->
<div class="container-fluid py-4 mt-5" >
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="img/GiaoVien2F.png" alt="">
            </div>
            <div class="col-lg-7">
                <div class="text-left mb-4">
                    <h2 class="text-primary">Biện pháp dạy học phân bố rõ ràng</h2>
                </div>
                <p> Phụ huynh đến với trung tâm tiếng anh EVinh sẽ có nhiều sự lựa chọn cho con em mình với các khoá học được phân bố rõ ràng theo các mức chi phí từ phù hợp với nhu cầu học cho con em minh. Các em sẽ được học những kiến thức phù hợp tuỳ theo khoá học mà phù huynh và các em chọn cho mình, từng khoá học sẽ phục vụ cho mục đích khác nhau mà trung tâm EVinh cung cấp.</p>
 
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-0">
    <div class="container py-5">
        <div class="row align-items-center">   
            <div class="col-lg-7">
                <div class="text-left mb-4">
                    <h2 class="text-primary">Chi phí hợp lý theo từng khoá học</h2>
                </div>
                <p>Chi phí luôn là điều các bậc phụ huynh quan tâm nhất. Vì vậy các khoá học của EVinh luôn đề ra chi phí hợp lý cho từng khoá tuỳ theo nhu cầu của con em minh. Về chất lượng khoá học, EVinh cam kết đầu ra cho các em theo học có kiến thức nền tảng tiếng anh tốt nhất với mỗi khoá học.</p>
            </div>
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="img/PhuHuynh.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Info End -->

<!-- Roadmap Start -->
<div style="text-align: center;margin-top:100px;"><h1>Road Map</h1></div>
<div class="container-fluid py-5 mt-4">
    <div class="mx-auto bg-primary" style="width: 800px;height:5px;margin-bottom:-53px;">      
    </div>
    <div class="container py-0" style="width: 880px;">
        <div class="row justify-content-between">
            <div class="bg-primary rounded-circle" style="width: 100px; height: 100px; text-align: center; display: flex; justify-content: center; align-items: center;">
                <i class="icon-cog text-white fa-solid fa-book fa-2xl"></i>       
            </div>
            <div class="bg-primary rounded-circle" style="width: 100px; height: 100px; text-align: center; display: flex; justify-content: center; align-items: center;">
                <i class="icon-cog text-white fa-solid fa-person-chalkboard fa-2xl"></i>
            </div>
            <div class="bg-primary rounded-circle" style="width: 100px; height: 100px; text-align: center; display: flex; justify-content: center; align-items: center;">
                <i class="icon-cog text-white fa-regular fa-star fa-2xl"></i>
            </div>
        </div>
    </div>
    <div class="container py-3 " style="width: 1000px;">
        <div class="row justify-content-between">
        <h5>1.Học kiến thức cơ bản</h5>
        <h5>2.Luyện giao tiếp</h5>
        <h5>3.Ôn tập lấy chứng chỉ</h5>
        </div>
    </div>
</div>
<!-- Roadmap End -->

@await Component.InvokeAsync("Course")



